.market-cap {
  display: flex;
  width: 415px;
  flex-direction: column;
  gap: 20px;
}

.market-cap > :nth-child(odd) {
  width: 100%;
  height: 150px;
}

.market-cap > :nth-child(even) {
  width: 100%;
  height: 185px;
}

.market-cap li {
  display: flex;
  background-color: #2c2f3a;
  padding: 15px;
  border-radius: 8px;
  color: #dfe6e9;
  flex-direction: column;
  justify-content: space-around;
}

