.nav-bar {
  width: 295px;
  border-right: 1.5px solid #323546;
  height: 100vh;
  flex-shrink: 0;
}

.nav-bar ul {
  margin-top: 20px;
}

.nav-bar ul li {
  height: 48px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  line-height: 48px;
  margin: 0 10px;
  padding: 0 15px;
}

.nav-bar ul li:hover {
  background-color: #2c2f44;
  cursor: pointer;
}

.home-nav-link a {
  text-decoration: none;
  color: #dfe6e9;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
